.ornatish{
    padding: 18px;
    display: block;
    background-color: rgb(219, 44, 44);
    color: white;

    
}
.padding{
    padding: 18px;
    display: block;
    background-color: blue;


}
.table{
    padding: 18px;
display: block;
background-color: blue;


}
.royhat{
    padding: 18px;
    display: block;
    background-color: blue;



}