*::after *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
}
.form {
	margin-top: 100px;
	border: 1px solid black;
	box-shadow: 10px 10px 10px rgba(42, 41, 41, 0.647);
	width: 350px;
	padding: 20px;
}
input {
	margin: 5px;
	padding: 5px;
}
#chosePizzaSize-text {
	position: relative;
	border: 1px solid black;
	padding: 7px;
	border-radius: 50%;
	gap: 7px;
 transition: all .3s ease;
 cursor: pointer;
}
#chosePizzaSize-text:hover{
 background-color: black;
 color: azure;
}
#chosePizzaSize {
	position: absolute;
	visibility: hidden;
}
