.payments {
	margin-top: 120px;
	margin-bottom: 120px;
	.payments__controls {
		display: flex;
		align-items: center;
		gap: 86px;
		@include tablet() {
			flex-direction: column-reverse;
			align-items: center;
			justify-content: center;
		}
		@include mobile() {
			flex-direction: column-reverse;
			align-items: center;
		}
		.payments__list {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			@include tablet() {
				align-items: center;
				justify-content: center;
			}
			@include mobile() {
				align-items: center;
				justify-content: center;
			}
			& h2 {
				color: #495567;
				font-size: 48px;
				font-style: normal;
				font-weight: 700;
				line-height: 48px; /* 100% */
				letter-spacing: -2.143px;
				width: 445px;
				@include tablet() {
					width: 457px;
					text-align: center;
				}
				@include mobile() {
     font-size: 32px;
     text-align: center;
     width: 311px;
				}
			}
			& p {
				color: #939caa;
				font-size: 15px;
				font-style: normal;
				font-weight: 400;
				line-height: 25px; /* 166.667% */
				width: 445px;
				margin-top: 24px;
				margin-bottom: 40px;
				@include tablet() {
					width: 473px;
					text-align: center;
					margin-top: 40px;
					margin-bottom: 40px;
				}
				@include mobile() {
					width: 311px;
					text-align: center;
				}
			}
			& a {
				color: #fff;
				text-align: center;
				font-size: 15px;
				font-style: normal;
				font-weight: 700;
				line-height: 25px; /* 166.667% */
				background: #fcb72b;
				padding: 14px 44px;
				border: 1px solid #fcb72b;
				transition: all 0.3s ease;
				&:hover {
					background-color: #fff;
					color: #fcb72b;
				}
			}
		}
		.payments__img {
			display: flex;
			position: relative;
			@include tablet() {
				align-items: center;
				justify-content: center;
			}
			@include mobile() {
				align-items: center;
				justify-content: center;
			}
			& img {
				border-radius: 50%;

				@include mobile() {
     width: 359px;
				}
			}
			.payments__icon {
				position: absolute;
				width: 100%;
				height: 100%;
				background-image: url(/img/about__icon.svg);
				background-repeat: no-repeat;
				top: 166px;
				left: 232px;
				@include tablet() {
     top: 100px;
     left: 232px;
				}
				@include mobile() {
     width: 190px;
     top: 30px;
     left: 170px;
				}
			}
		}
	}
}
