/* *{
     padding: 0;
     margin: 0;

} */
/* .box::before{
    content:"";
    width: 50px;
    height: 2px;
    background-color: black;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 20px;

}
.box::after{
    content: "";
    width: 50px;
    height: 2px;
    background-color: black;
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 20px;

} */
/* .info::first-letter{
   font-size: 40px;
   font-weight: bold;

} */
/* .info::first-line{
    font-size: 35px;
    font-weight: bold;

} */
/* ul li::marker{
   color: blue;
   font-size: 1.2em;

}
ol li::marker{
   color: blue;
   font-size: 1.2em;


} */
/* .btn:active{
   color: blue;
   background-color: purple;

}
.btn:focus{
   border: 1px solid rgb(151, 0, 0);
   outline: none;
} */
/* ul>li:nth-child(3), ul>li:nth-child(1){
   color: blueviolet;
}
ul>li:nth-child(even){
   color: chartreuse;
}
ul>li:nth-child(odd){
   color: rgb(0, 68, 255);
} */
/* ul>li:not(:first-child){
   color: purple;
} */
/* .btn{
   color: darkblue;
   background-color: aquamarine;
   border: 1px solid black;
   border-radius: 20px ;
   transform: translateX(100px) translateY(100px)
   scale(1) rotate(360deg);
   transition: all 0.3 ease-in;
 



}*/
/* .btn:hover{
   color: bisque;
   background-color: darkgreen;


} */
/* .btn:focus{
   transform: translateX(0) translateY(0)
   rotate(0);
} */
/* .btn{
    animation-name: roteyt;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 5s; 

}*/
/* @keyframes roteyt {
   from{
      transform: rotate(360deg);

   }
   to{
      transform: rotate(0deg);
   }
} */
#for-shift{
   font-size: 20px;
}
.for_colors{
   margin-top: 40px;
   width: 100px;
   height: 100px;
   background-color: aquamarine;
   transition: all 1s ease;
  ;
}
#for_checkbox:checked +.for_colors{
   transform: translateX(calc(100vw - 100%));
   



}











