@font-face {
	font-family: "Apoc";
	src: url("../fonts/ApocNormal-RegularItalic.woff2") format("woff2"),
		url("../fonts/ApocNormal-RegularItalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "PT Root UI VF";
	src: url("../fonts/PTRootUIVF.woff2") format("woff2"),
		url("../fonts/PTRootUIVF.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Root UI";
	src: url("../fonts/PTRootUI-Regular.woff2") format("woff2"),
		url("../fonts/PTRootUI-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Root UI";
	src: url("../fonts/PTRootUI-Bold.woff2") format("woff2"),
		url("../fonts/PTRootUI-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Root UI";
	src: url("../fonts/PTRootUI-Light.woff2") format("woff2"),
		url("../fonts/PTRootUI-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Root UI";
	src: url("../fonts/PTRootUI-Medium.woff2") format("woff2"),
		url("../fonts/PTRootUI-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
