.navbar__controls {
	margin-top: 60px;
	margin-bottom: 115px;
	padding: 30px;
	.navbar__wrapp {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		border-radius: 50px;
		overflow: hidden;
		height: 96px;
	}
	.navbar__content {
		position: relative;
		display: flex;
		align-items: center;
		gap: 10px;
		.navbar__img-boxs {
			position: absolute;
			background: #fff;
			width: 100%;
			bottom: -30px;
			overflow-y: scroll;
			display: none;
			@include mobile() {
				width: 40px;
			}
		}
		.hidden {
			display: block;
		}
	}
}
